body {
  background-color: darkgrey;
  text-align: center;
}

.title {
  font-size: 30px;
  text-align: center;
  font-family: "Satisfy", cursive;
}
.calculator {
  border-radius: 20px;
  background-color: rgba(255, 228, 196, 0.495);
  border: 1px solid rgb(255, 255, 255);
  margin: auto;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#greutate {
  width: 50px;
}
#inaltime {
  width: 50px;
}
.btnCalcul {
  background-color: firebrick;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btnReset {
  background-color: darkblue;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

span {
  display: inline-block;
  width: 160px;
}

#info {
  margin: auto;
  width: 400px;

  padding-bottom: 20px;
}
input {
  border-radius: 10px;
  text-align: center;
}
