* {
    box-sizing: content-box;
    overflow-x: hidden;
}

body {
    text-align: center;
    height: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0px 0px 0px 0px;
    max-width: 100%;
    padding: 0px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.junior {
    position: relative;
    top: -8px;
    top: 0 0 0 0px;
}

#avatar {
    padding: 40px 0 0 0;
    width: 200px;
    height: 200px;
}

.top-imagini {
    width: 150px;
    height: 150px;
    padding: 100px 0 80px 0;
}

.nume {
    font-size: 40px;
}

/* #top-mid-imagini {} */


.top {
    background-color: #9BC0F8;
    margin: 0px;
    size: 100%;
}

.col-md-6 {
    margin: 0px;
    padding: 0px;
}

.col-md-4 {
    margin: 0px;
    padding: 0px;
}

.bordura-mare {
    background-color: orange;
    width: 100%;
    height: 80px;
}

.bordura-mica {
    margin-top: 140px;
    background-color: orange;
    width: 100%;
    height: 30px;
}

.eu {
    width: 200px;
    height: 200px;
    padding-top: 20px;
}

.linie {
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(104, 101, 101)
}

.aptitudini {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding-bottom: 20px;
}

.img-dreapta {

    float: right;
    width: 250px;
    height: 200px;

}

.img-fluid {
    width: 250px;
    height: 200px;
}

.section3 {
    width: 100%;
    margin: auto;
    padding-top: 60px;

}

.section4 {
    padding-top: 60px;
    width: 100%;
    margin: auto;


}

#img-border {
    border: 2px solid black;
    border-radius: 50%;
}

footer {
    margin-top: 150px;
    background-color: #9BC0F8;
    height: 80px;
}

.made {
    float: left;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
}

footer .imagini-contact {
    padding: 20px;
    width: 40px;
    height: 40px;
    float: right;

}